# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Streamlit
.streamlit/

# Database
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp
*.bak